<p id="Result"></p>


</div>
    <input type="text" id="-1">
    <input type="text" id="-2">
    <div>
    <button onclick="calculate('+')">Sum</button>
    <button onclick="calculate('-')">Minus</button>
    <button onclick="calculate('*')">Multiply</button>
    <button onclick="calculate('/')">Substract</button>
    </div>

<div>



<script>
    function calculate(op){
        const a = document.getElementById("-1");
        const b = document.getElementById("-2");
        const resultP = document.getElementById("Result");

        let eop = encodeURIComponent(op);
        fetch(`/Magic/Calculate?a=${a.value}&b=${b.value}&op=${eop}`).
        then(r => r.text()).
        then(ans => resultP.innerHTML = `result: ${ans}`);
    }
</script>